.reports-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.reports-container .content {
    display: flex;
    z-index: 1;
    gap: 10px;
    margin-bottom: 25px;
}

.reports-container .content .field{
    margin-top: 33px;
    margin-bottom: 0;
}

.reports-container .content .button {
    background-color: #1c3e8e;
    height: 50px;
    margin-top: 35px;
}

.reports-container .content .button:hover {
    background-color: #152e68;
}

.reports-container .table {
    flex: 1 1 auto;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

