.attendTest-container {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("../../public/img/fondoVigia.jpg");
    min-height: 100vh;
    height: 100vh;
}

.attendTest-content {
    display: flex;
    height: calc(100vh - 63px);
}

.attendTest-body {
    width: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    gap: 5px;
}

.attendTest-body .area-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.attendTest-body .area-content .title{
    background-color: #5a8f80;
    color: white;
    display: flex;
    font-size: 30px;
    font-weight: bold;
    padding: 5px 25px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    justify-content: space-between;
    align-items: center;
}

.attendTest-body .area-content .title .text-search{
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.attendTest-body .area-content .body{
    background-color: #f5f5f8;
    height: 100%;
    border-radius: 0 0 5px 5px;
    overflow: auto;
    padding: 15px;
    box-sizing: border-box;
}

.attendTest-body .area-content .body .grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.button-associate {
    background-color: #86c1af;
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: normal;
    margin-right: 5px;
}

.blues {
    background-color: rgb(50, 174, 205) !important;
    color: white !important;
}

.blues:hover {
    background-color: rgb(82, 208, 240) !important;
}

.button-associate+.green {
    background-color: yellowgreen;
    color: white;
}

.button-associate+.green:hover {
    background-color: rgb(181, 241, 59);
}

.button-associate+.red {
    background-color: rgb(207, 3, 3);
    color: white;
}

.button-associate+.red:hover {
    background-color: red;
}

.button-associate+.orange {
    background-color: rgb(245 152 37);
    color: white;
}

.button-associate+.orange:hover {
    background-color: rgb(247, 168, 72);
}

.formDialog .MuiDialogContent-root {
    padding-top: 0;
}

.attendTest-container .message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.attendTest-container .message .title{
    font-size: 500%;
    color: #5a8f80;
    text-align: center;
}

.attendTest-body .super-app-theme {
    background-color: red !important;
    color: white !important;
    font-weight: bold;
}

.attendTest-body .super-app-theme:hover {
    background-color: #f17171 !important;
}