.message-container {
    box-sizing: border-box;
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    position: fixed;
    bottom: -50px;
    height: 50px;
    font-weight: bolder;
    z-index: 50000;
}

.show {
    bottom: 0;
    transition: bottom 200ms ease-in-out;
}

.down {
    bottom: -50px;
    transition: bottom 200ms ease-in-out;
}

.red {
    border-color: #f8baba;
    color: #5f2120;
    background-color: #f8baba;
}

.green {
    border-color: #cbf1cb;
    color: #1e4620;
    background-color: #cbf1cb
}

.blue {
    border-color: #c1e9fa;
    color: #014361;
    background-color: #c1e9fa
}

.yellow {
    border-color: #fff7af;
    color: #663c00;
    background-color: #fff7af;
}

.message {
    width: 99%;
    overflow: auto;
}

.message::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
  
  /* Track */
.message::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.message::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
.message::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.button-close {
    width: 1%;
    cursor: pointer;
}